### Support Vector Machines

In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer #Used for Text Mining
from sklearn.preprocessing import StandardScaler

#library for model
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

#Martix library
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
# loading dataset
dataset = pd.read_csv('C:/Users/Akaash/Downloads/claimants.csv')
dataset.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [3]:
#Checking the Dataset for Na Values
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

Inference: "CASENUM" Column is Not Relevent is just Serial numbers to the Dataset and Also Dataset has NA Values So Dropping

In [4]:
#Dropping the case number columns as it is not required
dataset.drop(["CASENUM"],inplace=True,axis = 1)

# Removing NA values in data set
dataset = dataset.dropna()

#Final Dataset
dataset.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

Inference: The Dataset is Now Correct

In [5]:
# Dividing our data into input and output variables 
X = dataset.iloc[:,1:]
Y = dataset.iloc[:,0]

In [6]:
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

#### Grid Search CV

In [7]:
#Creating SVM instance
clf = SVC()

#Defining Grid Search Parameter
param_grid = [{'kernel':['rbf'],'gamma':[5,10,15,20],'C':[2,4,6] }]

#Creating Grid Search instance and fitting the Model
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [2, 4, 6], 'gamma': [5, 10, 15, 20],
                          'kernel': ['rbf']}])

In [8]:
#Getting Search Results From Grid Search
gsv.best_params_ , gsv.best_score_

({'C': 6, 'gamma': 10, 'kernel': 'rbf'}, 0.664864864864865)

In [9]:
clf = SVC(C= 6, gamma = 10)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 60.49723756906077

array([[141,  44],
       [ 99,  78]], dtype=int64)

Inference: The Final Accuracy is 60.49%